.touch-joystick {
  display: none;
}

@media (pointer: coarse) {
  .touch-joystick {
    display: block;
    position: absolute;
    inset: 0;
    z-index: 6;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    --joy-x: 0px;
    --joy-y: 0px;
    --joy-radius: 70px;
    --joy-knob-x: 0px;
    --joy-knob-y: 0px;
    transition: opacity 200ms ease, visibility 0s linear 200ms;
  }

  .touch-joystick--visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 120ms ease, visibility 0s;
  }

  .touch-joystick__base,
  .touch-joystick__knob {
    position: absolute;
    left: var(--joy-x);
    top: var(--joy-y);
    border-radius: 999px;
  }

  .touch-joystick__base {
    width: calc(var(--joy-radius) + var(--joy-radius));
    height: calc(var(--joy-radius) + var(--joy-radius));
    transform: translate(-50%, -50%);
    background: rgb(7 18 30 / 10%);
    border: 2px solid rgb(213 250 255 / 22%);
    box-shadow:
      0 18px 28px rgb(0 0 0 / 18%),
      inset 0 1px 0 rgb(255 255 255 / 10%);
    backdrop-filter: blur(10px);
  }

  .touch-joystick__knob {
    width: calc(var(--joy-radius) * 0.82);
    height: calc(var(--joy-radius) * 0.82);
    transform: translate(calc(-50% + var(--joy-knob-x)), calc(-50% + var(--joy-knob-y)));
    background:
      radial-gradient(circle at 35% 30%, rgb(255 255 255 / 42%), transparent 55%),
      radial-gradient(circle at center, rgb(226 247 255 / 28%), rgb(9 20 34 / 30%));
    border: 1px solid rgb(226 247 255 / 18%);
    box-shadow:
      0 18px 28px rgb(0 0 0 / 20%),
      inset 0 1px 0 rgb(255 255 255 / 14%);
  }

  .touch-joystick--boost .touch-joystick__base {
    border-color: rgb(255 214 153 / 55%);
    box-shadow:
      0 18px 28px rgb(0 0 0 / 18%),
      0 0 0 3px rgb(255 214 153 / 16%),
      inset 0 1px 0 rgb(255 255 255 / 12%);
  }
}
